.markdown-body ul li {
    list-style: outside;
}

.markdown-body ol li {
    list-style: decimal;
}
.markdown-body pre {
    padding: 0 !important;
}

.markdown-body a {
    color: var(--color-primary);
}

.markdown-body pre {
    padding: 0!important;
    border-radius: 4px!important;
}
